# Dataframe Creation

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(columns=["datetime", "grid_id"])
df

Empty DataFrame
Columns: [datetime, grid_id]
Index: []

In [ ]:
df = pd.DataFrame(data={ 
    "datetime": ["2021", "2020"],
    "grid_id": [1, 2]})

df

  datetime  grid_id
0     2021        1
1     2020        2

In [ ]:
df = pd.DataFrame(
    np.array([[2021, 1], [2020, 2]]), columns=["datetime", "grid_id"])
df

   datetime  grid_id
0      2021        1
1      2020        2

- `index=1` is used as rows