In [ ]:
import pandas as pd

# Sample DataFrame

In [ ]:
df = pd.DataFrame({ "name": ["peter", "stewie", "lewis"], "age": [1, 2, 3] })
df

     name  age
0   peter    1
1  stewie    2
2   lewis    3

In [ ]:
df.sample(n=2, axis=0, random_state=0)

     name  age
2   lewis    3
1  stewie    2

In [ ]:
df.sample(n=1, axis=1, random_state=1)

     name
0   peter
1  stewie
2   lewis

## Parameters

- `n`: how many items to sample 
- `axis`: 
  - `axis=0`: sample rows 
  - `axis=1`: sample columns
- `random_state`: random seed